{% set per_page = 5 %}
{% set start_index = (p - 1) * per_page %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>'{% if request.args.get('q') %}{{ request.args.get('q') }}{% endif %}' 검색결과 : kugle 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script type= "text/javascript" src="{{ url_for('static', filename='js/main.js') }}" ></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/resultdetail.css') }}" rel="stylesheet" />
</head>
<body>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="s006" style="background:none;min-height: 1vh;padding:5px;">
                        <span onClick="location.href='/'" style="font-size:36px; padding-right: 20px;cursor: pointer;">
                            kugle 2.0
                        </span>
                        <div class="search-form">
                            <form role="form" method='GET' action='/results' style="">
                                <fieldset>
                                <div class="inner-form" style="">
                                    <div class="input-field">
                                    <button class="btn-search" type="submit" onClick="return checkInput()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                        </svg>
                                    </button>
                                  <input id="search" type="text" placeholder="학술자료를 검색하세요" value="" name="q"/>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                      </div>
                    </div>
                    <h2>
                        <span class="text-navy">'{% if request.args.get('q') %}{{ request.args.get('q') }}{% endif %}'</span>: {{ arr|length }}개의 검색결과
                    </h2>
                    {% if related|length == 0 %}
                    <div class="suggestion-wrap">
                        연관검색어가 없습니다.
                    </div>
                    {% endif %}

                    {% if related|length != 0 %}
                    <div class="suggestion-wrap">
                        연관검색어: 
                        {% for keyword in related %}
                        <span onClick="location.href='results?q={{ keyword }}'">
                            {{ keyword }}
                        </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <hr />
                    
                    {% for item in arr[start_index: start_index + per_page] %}
                    <div class="search-result">
                        <h3><a href="detail?id={{ item[0] }}">{{ item[1] }}</a></h3>
                        <p>
                            저자, {{ item[4] }}
                        </p>
                    </div>
                    <div class="hr-line-dashed"></div>
                    {% endfor %}


                    <div class="text-center">
                        {% set total_pages = (arr|length / per_page)|int + 1 if arr|length % per_page else (arr|length / per_page)|int %} <!-- arr|length => 10으로 교체 -->
                        {% set cur_page = request.args.get('p')|int %}
                        {% if cur_page <= 6 %}
                        {% set start_page = 0 %}
                        {% set end_page = 10 %}
                        {% else %}
                        {% set start_page = cur_page-6 %}
                        {% set end_page = cur_page+4 %}
                        {% endif %}
                        {% if end_page > total_pages %}
                        {% set end_page = total_pages %}
                        {% endif %}

                        <div class="btn-group">
                            {% for page_number in range(start_page, end_page) %}
                            {% if page_number + 1 != p %}
                            <button class="btn btn-white" onClick="location.href='results?q={{ request.args.get('q') }}&p={{ page_number + 1 }}'">{{ page_number + 1 }}</button>
                            {% else %}
                            <button class="btn btn-white  active">{{ page_number + 1 }}</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    

<style type="text/css">
</style>

<script type="text/javascript">
</script>
</body>
</html>